@model List<XYZ.InventoryManagementSystem.Framework.Product>

@{

}

@if(Model == null)
{
    <h2>No product available now!..</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>Price</td>
                <td>Quantity</td>
                <td>Description</td>
                <td>Available</td>
                <td>Brand</td>
                <td>Category</td>
                <td>Colors</td>
                <td>Sizes</td>
                <td>Stores</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                var available = product.Available ? "Available" : "Not Available";
            <tr>
                <td>@product.Price</td>
                <td>@product.Qty</td>
                <td>@product.Description</td>
                <td>@available</td>
                <td>@product.Brand.Name</td>
                <td>@product.Category.Name</td>

                <td>
                    @foreach (var color in product.ProductColor)
                    {
                    <span>@color.Color.Name, </span>
                    }                       
                </td>

                <td>
                    @foreach (var size in product.ProductSizes)
                     {
                        <span>@size.Size.Name, </span> 
                     }
                 </td>

                <td>
                    @foreach (var store in product.ProductStores)
                    {
                        <span>@store.Store.Name, </span>
                    }
                </td>


                    <td>
                        <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-info">Edit</a>
                        <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-info">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
